.cartButton{
  width:150px;
  height:5vh;
  border-radius: 4px;
  margin-top: 20px;
}


.cartImage{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.addBtn,.removeBtn{
  width:150px;
  height:5vh;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.removeBtn:hover{
  background-color: lightcoral;
}


.addBtn:hover{
  background-color: lightgreen;
}

.card{
  background-color: palegoldenrod;
  border-radius: 5px;
  padding-bottom: 20px;
  width: 200px;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content{
display: flex;
}